<div>
  <%= link_to '<- Back', articles_path %>
</div>
<article>
  <h2><%= @article.title %></h2>
  <div>
    <%= link_to 'Edit', edit_article_path %>
    <%= link_to 'Delete', article_path(@article), method: 'delete', data: { confirm: 'Are you sure?' } %>
  </div>
  <div>
    <%= @article.content %>
  </div>
</article>
